name: Java CI with Maven test
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Install Maven
      run: sudo apt-get install maven -y

    - name: Run tests and generate Allure report
      env:
        CHROME_BIN: /usr/bin/google-chrome
      run: |
        mvn clean test -Dwebdriver.chrome.driver=chromedriver
        cp -r allure-results target/allure-results
        mvn io.qameta.allure:allure-maven:2.10.0:report
      
    - name: Upload Allure report
      uses: actions/upload-artifact@v2
      with:
        name: allure-report
        path: target/site/allure-maven-plugin/
        
    - name: Deploy report to Github Pages
      if: always()
      uses: peaceiris/actions-gh-pages@v2
      env:
          PERSONAL_TOKEN: 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
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: allure-history
